@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <p>This is the final project for Programming in C# for Visual Studio .NET Platform I (UCLA Extension).</p>
    <p>The project was built by following the <a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/?view=aspnetcore-3.1">Microsoft tutorial</a>.</p>
    <p>More info at my <a href="https://github.com/MarieChen27/Programming-in-Csharp-for-VisualStudio">Github site</a>.</p>
</div>
