@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This website is the final project for Programming in C# and won't collect any personal information.</p>
